<article class="post col-xs-12 col-sm-4">

	<header>
		<h3><%= post.title %></h3>
	</header>

	<figure>
		<%= image_tag post.picture.url(:medium), class: "uploaded_pic" %>
	</figure>

	<figcaption>
		<%= link_to post.location, post_maps_path(post.id) %>
	</figcaption>

	<footer>

		<% if post.tags.any? %>
		<ul class="tags">
			<% post.tags.each do |tag| %>
			<li><%= link_to tag.text, tag %></li>
			<% end %>
		</ul>

	</footer>

	<% end %>

</article>