@import "_colors"

.global-header
	height: 125px
	position: relative
	margin-bottom: -10px
#logo
	color: $purple
	h1
		font-size: 81px
		line-height: 1
		font-family: 'Pacifico', cursive
		display: inline-block
		margin: 42px 0 0 0
	&:hover
		text-decoration: none

.global-nav
	position: absolute
	bottom: 0
	right: 20px
	li
		display: inline-block
		margin: 0
		a
			padding: 10px
			width: 100%
			display: block

			border-top-left-radius: 10px
			border-top-right-radius: 10px

			background: $purple
			text-align: center

			font-family: 'Pacifico', cursive
			-webkit-font-smoothing: antialiased
			line-height: 2
			font-size: 1.2em
			color: $white
			span
				font-size: 2em
				display: block
			&:hover
				text-decoration: none

				padding-top: 20px
				transition: 0.2s ease
				-webkit-transform: translateZ(0)