@import "_colors"

article.post
	margin-bottom: 40px
	text-align:center

	h3
		font-family: 'Pacifico', cursive
		margin: 10px 0px

	img
		max-width: 100%
		border-top-right-radius: 15px

	.tags
		margin: 10px 0px 0px 0px
		li
			display: inline-block
			margin-right: 5px
			margin-bottom: 10px
			a
				display: block
				padding: 5px 10px
				background: $grey
				color: $white

	address
		background: $dkteal
		text-align: center
		font-family: sans-serif

		border-bottom-left-radius: 15px
		border-bottom-right-radius: 15px

		padding: 5px
		margin: 0px

		a
			color: $grey
			text-decoration: none

			&:hover
				font-weight: bold
				span
					animation: wiggle 0.5s 3 linear