@import "_colors"

article.post
	margin-bottom: 40px
	text-align:center

	h3
		margin: 0
		color: $purple

		font-family: "Special Elite", cursive
		background: $dkteal
		border-top-right-radius: 15px
		font-size: 1.7em
		line-height: 1
		text-align: center
		padding: 15px 5px 7px 5px

		border-bottom: 5px solid $purple
	img
		max-width: 100%

	.tags
		margin: 0px
		text-align: center

		li
			display: inline-block
			a
				display: block
				padding: 5px 10px
				color: $white

	address
		background: $dkteal
		text-align: center
		font-family: 'Special Elite', cursive

		border-bottom-left-radius: 15px
		border-bottom-right-radius: 15px

		padding: 5px
		margin: 0px

		a
			color: $grey
			text-decoration: none

			&:hover
				span
					animation: wiggle 0.5s 3 linear